.item{ background-color: #A1A1A1; border: 1px solid #D2D2D2; height: 94px; padding: 6px; width: 198px;}
.showcaseThumbs_div
{
padding:0px 0px 0px 45px;
margin:0px;
float:left;
overflow:hidden;
text-align:left;
position:relative;
border:solid 0px red;
}

.wpns_thumb_slider
{
height:110px;
padding-top:0px;
display:block;
overflow:hidden;
float:left;
margin-left:0px;

}
.wpns_thumb_slider ul
{
width:860px;
height:110px;
float:left;
list-style:none;
border:solid 0px red;
}
.wpns_thumb_slider ul li
{
float:left;
padding:0px;
margin:0px;
}
.wpns_next_thumb
{
background:url(button_right.png) no-repeat center;
width:30px;
height:100px;
float:left;
}

.wpns_prev_thumb
{
background:url(button_left.png) no-repeat center;
width:30px;
height:100px;
float:left;
}